
#main {
    -fx-background-color: "#D8D9DA";
}

#sidebar {
    -fx-background-color: "#272829";
}

#logo {
    -fx-text-fill: "#FFF6E0";
}

#todo {
    -fx-text-fill: "#FFF6E0";
}

#add_item {
    -fx-text-fill: "#61677A";
}