@font-face {
    src: url("../../../../FiraCode.ttf");
}

* {
    -fx-label-color: #444444;
    -button-text-fill: #FFFFFF;
}

#main_box {
    -fx-background-color: "#D1C7BC";
    -fx-background-radius: 13px;
    -fx-padding: 10px;
    -fx-border-width: 1px;
    -fx-border-color: gray;
    -fx-border-radius: 10px;
}

#delete-button {
    -fx-background-color: "#FE696E";
    -fx-text-fill: -button-text-fill;
}

#edit-button {
    -fx-background-color: "#0B6380";
    -fx-text-fill: -button-text-fill;
}

#title {
    -fx-text-fill: -fx-label-color;
    -fx-font-family: "Fira Code";
}

#starting_date {
    -fx-text-fill: -fx-label-color;
    -fx-background-color: "#E1989850";
    -fx-background-radius: 5px;
}

#ending_date {
    -fx-text-fill: -fx-label-color;
    -fx-background-color: "#E1989850";
    -fx-background-radius: 5px;
}

#priority {
    -fx-text-fill: -fx-label-color;
    -fx-background-color: "#4D3C7750";
    -fx-background-radius: 5px;
}

#category {
    -fx-text-fill: -fx-label-color;
    -fx-background-color: "#5B9A8B50";
    -fx-background-radius: 5px;
}