#main {
    -fx-background-color: "#D8D9DA";
}

#sidebar {
    -fx-background-color: "#272829";
}

#scrollpane {
    -fx-padding: 5;
    -fx-background-color: "#D8D9DA";
}

#tile-pane {
    -fx-background-color: "#D8D9DA";
}

#logo {
    -fx-text-fill: "#FFF6E0";
}

#todo {
    -fx-text-fill: "#FFF6E0";
}

#your-list {
    -fx-text-fill: "#61677A";
}