
#main {
    -fx-background-color: "#8E856D";
}

#sidebar {
    -fx-background-color: "#444444";
}

#logo {
    -fx-text-fill: "#FFF6E0";
}

#todo {
    -fx-text-fill: "#FFF6E0";
}

#add_item {
    -fx-text-fill: "#FFF6E0";
}